{% load staticfiles %}
<!DOCTYPE html>
<head>
    <title>Stack - BootCamp Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Django Blog" src="...">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/blog">All posts</a></li>
                <li><a href="/blogTop5">Top 5</a></li>
                <li><a href="/post/new">New post</a></li>
             </ul>
        </div>

    </div>
</nav>

<div id="masthead">
    <div class="container">
        <div class="row">
                <h1> stack
                    <p id="logo" class="lead">The Trials of a Bootcamp Developer</p>
                </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <!--blog entries-->
                    {% block content %}
                    {% endblock %}
                    <!--blog entries-->
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
    </div>
</footer>
<!-- script references -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
</body>
</html>